label {
	@apply my-2 inline-block;
}

input {
	@apply mb-2 p-4 bg-gray-900 border-2 border-gray-400 placeholder-gray-700 text-2xl text-center;
	width: calc(0.5rem + 3em);
}

/* No mostrar flechas en inputs numéricos */
input[type=number] {
	appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}
